.wrap {position: absolute;left: 0;bottom: 40px;width: 320px;height: 332px;margin-left: -160px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
.wrap * {padding: 0;margin: 0;}
.wrap .info {width: 486px;height: 320px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
.wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px;}
.info .favoriteimg {position: absolute;top: 15px;right:280px;width: 21px;height: 17px;}
.info .favoriteimg:hover {cursor: pointer; transform: scale(1.1);}
.info .mainimg {width: 486px;height: 200px;border-radius: 5px;border-bottom: 2px;margin-bottom: 10px;background-color: red;}
.info .title {padding: 5px 0 0 10px;height: 30px;border-bottom: 1px;font-size: 15px;font-weight: bold;}
.info .close {position: absolute;top: 10px;right: 10px;width: 17px;height: 17px;}
.info .close:hover {cursor: pointer;}
.info .body {position: relative;overflow: hidden;}
.info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
.desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.desc .jibun {font-size: 11px;margin-top: -2px;}
.info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;overflow: hidden;}
.info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
.info .link {color: #5085BB;}
.roadview {position:absolute;overflow:hidden;bottom:500px;right:1500px;width:500px;height:400px;z-index:10;border:1px solid #909090;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);border-radius: 5px;margin:0;padding:0;background-color:#fff;}